<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html>
    <head>
        <title>Seriously?</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/trivia.css') }}">
    </head>
    <body>
        <h1>Yeah, seriously.</h1>
        <p>This is a tiny web page server.
           It shoudl appear as formatted HTML in the browser.</p>
        <p>The page background should be greenish. This text should be red.</p>
    </body>
</html>

